{% extends "base.html" %}
{% load static %} 

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


{% block content %}
<div class="main-div">
    <div id="profile_header">
        <div class="profile_picture">
        {% if user_profile.profile_picture != "" %}
            <img class="profile_picture" src="{{user_profile.profile_picture}}">
        {% else %}
            <img class="profile_picture" src="https://picsum.photos/600">
        {% endif %}
        </div>
        <div id="bio">
            {% if user_profile == request.user %}
                <h3>Hello {{ user_profile.user.username }}!</h3>
            {% else %}
            <h3>This is {{ user_profile.user.username }}'s profile!</h3>
            {% endif %}
            <p>{{user_profile.bio}}</p>
        </div>
        <a id="edit-account" href="{% url 'users:update_profile' request.user.pk %}">Edit your account</a>
        <div id="social-media">
            <a href="{{ user_profile.github }}"><img class="social" src="/static/images/github.png" alt="Github"></a>
            <a href="{{ user_profile.linkedin }}"><img class="social" src="/static/images/linkedin.png" alt="Linkedin"></a>
        </div>
    </div>
    <div id="my-stories-div">
        {% if user_profile == request.user %}
            <h2 class="title">My Stories</h2>
        {% else %}
            <h2 class="title">{{ user_profile.user.username }}'s Stories</h2>
        {% endif %}
            <div id="my-stories">
                {% if user_profile.newsstory_set.all %}
                    {% for story in user_profile.newsstory_set.all %}
                        {% include "news/storyCard.html" with story=story position=forloop.counter %}
                    {% endfor %}
                {% else %}
                    <p>No stories are available.</p>
                {% endif %}
        </div>
        <div id="new_story_button_profile">
        <a class="button" href="{% url 'news:newStory' %}">Write New Story</a>
        </div>
    </div>
</div>
{% endblock %}
